.product {
  margin: 10px;

  a {
    text-decoration: none;
  }

  .title {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: unset;
    max-height: 36px;
    min-height: 36px;
    color: #000;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
  }
  .box-price {
    padding: 0 5px;
    text-align: left;
    .price {
      color: #b5313a;
      font-size: 14px;
    }

    .old-price {
      color: #cfcbcc;
      font-size: 13px;
      text-decoration: line-through;
      margin-left: 10px;
    }
  }

  .box-rating{ 
    font-size: 13px;
    color:#cfcbcc ;
    display: flex;
    align-items: center;
    .add-cart{ 
        border-left: 1px solid #cfcbcc;
        padding: 0 10px;
        margin-left: 10px;
    }
  }
.product-new{ 
    position: relative;
    display: block;
    margin-bottom: 20px;
    .sale{ 
      background-color: #FF0000;
      color: #fff;
      font-size: 12px;
      top: 5px;
      left: 5px;
      position: absolute;
      z-index: 3;
      padding: 5px;
      letter-spacing: 0.5px;
    }

    .time-viewer{ 
        background-color: #b5313a;
        color: #fff;
        border-radius: 999px;
        margin: 5px 0;
        text-align: center;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;

        .time-dot{ 
            font-weight: bolder;
            margin: 0 5px;
        }
    }

    .select-buy{ 
        width: 100%;
        border: 1px solid #b5313a;
        color: #b5313a;
        border-radius: 5px;
        padding: 2px;
        background-color: #fff;
    }

    .select-buy:hover{ 
        background-color: #b5313a;
        color: #fff;
    }
    
}
}
.css-iljtu2-MuiRating-root{ 
    font-size: 1.2rem !important;
}
.css-iljtu2-MuiRating-root.Mui-disabled {
    opacity: 1 !important;
    pointer-events: none;
}
